<div class="message__container" #scrollContainer>

   <div *ngIf="messagesSer.userSelected">
      <div *ngFor="let item of messagesSer.messages; let i = index">
         <div class="message__chats text-sm-end" *ngIf="item.sender === connectionSer.db.getItem('userNameAngular')">
            <p class='p-0 m-0'><span class="badge bg-secondary">You</span></p>
            <div class="message__sender">
                <p class='p-0 m-0 text-start'>{{ item.text }}</p>
                <p class='p-0 m-0 text-end'><span class="badge bg-primary rounded-pill">{{ item.date | date:'medium':'GMT+5' }}</span></p>
            </div>
         </div>
      
         <div class="message__chats" *ngIf="item.sender !== connectionSer.db.getItem('userNameAngular')">
            <p class='p-0 m-0'><span class="badge bg-secondary">{{ item.sender }}</span></p>
            <div class="message__recipient text-sm-end">
               <p class='p-0 m-0 text-start'>{{ item.text }}</p>
               <p class='p-0 m-0 text-end'><span class="badge bg-primary rounded-pill">{{ item.date | date:'medium':'GMT+5' }}</span></p>
            </div>
         </div>
      </div>      
     
      <div class="message__status">
         <p class='p-0 m-0'><span class="badge bg-secondary">{{ typingStatus }}</span></p>
      </div>
   </div>
   
</div>