<div class="message__container">

   <div class="message__chats text-sm-end" key="0">
      <p class='p-0 m-0'><span class="badge bg-secondary">You</span></p>
      <div class="message__sender">
          <p class='p-0 m-0 text-start'>Mensaje</p>
          <p class='p-0 m-0 text-end'><span class="badge bg-primary rounded-pill">22:58</span></p>
      </div>
  </div>

   <div class="message__chats" key="1">
      <p class='p-0 m-0'><span class="badge bg-secondary">Usuario</span></p>
      <div class="message__recipient text-sm-end">
         <p class='p-0 m-0 text-start'>Mensaje</p>
         <p class='p-0 m-0 text-end'><span class="badge bg-primary rounded-pill">22:58</span></p>
      </div>
   </div>
  
   <div class="message__status">
      <p class='p-0 m-0'><span class="badge bg-secondary">Typing...</span></p>
   </div>
</div>